<!DOCTYPE html>
	<html>
	<html lang="en" dir="ltr">
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="Michal T. Ruprecht" name="author">
    <meta name="keywords" content="Wiktor Kozlowski, Wiktor Kozlowski, Wiktor Kozlowski, Bialystok, Wiktor Kozlowski, Wiktor Kozlowski">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://WiktorKozlowski.github.io/main.css">
    <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');</style>
    <link rel="shortcut icon" async href="https://WiktorKozlowski.github.io/assets/favicon.ico"/>
    <style media="screen"></style>
    <script src="https://WiktorKozlowski.github.io/script.js"></script>
  </head>


	<body>
		{{ content }}
			<footer>
				<div class="photo">
					<img src="a" alt="">
				</div>
        <div class="container">
					<h3>
						<center><big>
							<big>
								<a href="https://WiktorKozlowski.github.io">English</a>｜
								<a href="https://WiktorKozlowski.github.io/pages/pl">Polski</a></big>
             <br /><br />
						 	<a class="containerbutton" href="mailto:WiktorKozlowski1912@gmail.com" target="_blank"><img src="https://WiktorKozlowski.github.io/assets/icons/mail.svg" alt="EMail" style="width:32px;"></a>
             <br /><br />
             <div class="smalltext">Site designed and created by <a href="https://michalruprecht.com/" target="_blank">Michal Ruprecht</a>.</div>
             Copyright © 2021 - <script>document.write(new Date().getFullYear())</script> Wiktor Kozlowski. All Rights Reserved.
          </center></h3>
        </div>
			</footer>
		</body>
	</html>
